<div class="d-flex justify-content-between mb-6">
    <h1 class="text-gray-900 fw-bolder fs-1 d-flex align-items-center my-1">
      <span class="text-gray-900 fw-bolder fs-1">
        Services
      </span>
      <small class="text-muted fs-6 fw-bold ms-1" *ngIf="servicesList && servicesList.length>0"> ({{servicesList.length}}) </small>
    
    </h1>
    <a id="kt_toolbar_primary_button" class="btn me-5 btn-flex btn-sm btn-primary fw-bolder border-0 fs-6 h-40px"
       routerLink="/apps/a-b-system/services/create-service">
      Create Service
    </a>
  </div>
  <!--begin:Search form-->
<form id="kt_devs_search_form" class="form mb-6" action="">
  <div class="d-flex">
    <!--begin::Form control-->
    <input
    type="text"
    class="form-control flex-grow-1 me-5"
    placeholder="Search by sector's name"
    name="query"
    [(ngModel)]="searchQuery"
    (ngModelChange)="searchServices()"
  />
 
  </div>
</form>

  <div class="mb-10 row" *ngIf="(isLoading$ | async) === false">
    <div class="col-lg-4 col-md-6 col-12" *ngFor="let service of filteredServicesList">
      <div class="card mb-5 mb-xl-10">
        <div class="card-header align-items-center border-0">
          <div class="d-flex justify-content-between w-100">
            <h3 class="card-title fw-bolder text-gray-900 fs-3">
              <span class="fs-2 fw-bolder text-gray-900 text-hover-warning cursor-pointer me-1"
                    (click)="editService(service.id)">
                {{ service.title.english }}
              </span>
            </h3>
            <div class="d-flex flex-shrink-0">
              <button class="btn btn-icon btn-bg-light btn-color-success btn-sm me-1"
                      (click)="editService(service.id)">
                <span class="svg-icon svg-icon-3" [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"></span>
              </button>
              <button class="btn btn-icon btn-bg-light btn-color-danger btn-sm"
                      (click)="deleteService(service.id)">
                <span class="svg-icon svg-icon-3" [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="fs-base fw-normal text-gray-700 mb-4">
            {{ service.description.title.english | truncate : 200 : true : "..." }}
          </div>
          <!-- <img [src]="service.imgURL" alt="{{ service.title.english }}" class="img-fluid mb-3" /> -->
          <div class="d-flex justify-content-between align-items-center">
        
            <span class="text-muted">Created: {{ service.createdAt | date }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="(isLoading$ | async) === true" class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>